<! doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="/css/main.css" rel="stylesheet"/>
      <link href="/css/blog.css" rel="stylesheet"/>
      <link href="/css/medium_gridweb.css" rel="stylesheet" media="only screen and (max-width:700px)"/>
      <link href="/css/small_gridweb.css" rel="stylesheet" media="only screen  and (min-width:320px) and (max-width:500px)"/>
      
      <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
      <title>Grid based Website</title>
  </head>
  <body>
    <%- body %>
  </body>
</html>